<ion-card class="m-0" mode="md">
  <ion-card-header class="ion-text-left">
    <iframe
      [src]="testimonial.url | safeUrl"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
    <ion-card-title>
      {{ testimonial.name }}
    </ion-card-title>
    <div class="customer-id">{{ testimonial.projectCode }}</div>
  </ion-card-header>
  <ion-card-content class="ion-text-left">
    <bilva-rating [rating]="testimonial.rating" />
    <br />
    <ion-text class="testimonial-text">
      {{ testimonial.text | truncate : { limit: 100, completeWords: true } }}
      <ion-text id="read-more" expand="block" (click)="isModalOpen = true">
        Read More
      </ion-text>
      <ion-modal [isOpen]="isModalOpen">
        <ng-template>
          <ion-content class="ion-padding">
            {{ testimonial.name }}
            <span class="customer-id"> ({{ testimonial.projectCode }}) </span>
            <br />
            <br />
            <bilva-rating [rating]="testimonial.rating" />
            <p>
              {{ testimonial.text }}
            </p>
          </ion-content>
          <ion-footer>
            <ion-toolbar>
              <ion-buttons slot="end">
                <ion-button (click)="isModalOpen = false">Close</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-footer>
        </ng-template>
      </ion-modal>
    </ion-text>
  </ion-card-content>
</ion-card>
