:host {
  overflow-y: scroll;
}

div.banner {
  background-image: url('/assets/images/real-estate-management-system.webp');
}
.welcome {
  min-height: 10em;
  height: auto;
  ion-card {
    height: auto;
  }
}

ion-card {
  // background: transparent;
  ion-card-content {
    font-size: large;
  }
}
