<div class="page banner backgroud-image-shade">
  <div class="gradient">
    <ion-grid>
      <ion-row>
        <ion-col class="welcome" size="12" offset-lg="2" size-lg="8">
          <ion-card>
            <ion-card-header>
              <ion-card-title style="color: #13550a;"><b>Welcome to Bilva Groups</b></ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-text>
                At Bilva Group, we understand that every property tells a unique story. Whether you're buying or selling a property, building your dream house from the ground up or ensuring seamless maintenance and management, we are here to guide you every step of the way. With our diverse range of services, we bring expertise and innovation to every project, making property ownership and management a breeze.

                <br>Why Choose Us?
                <br>
                Our team combines years of experience and showcase complete transparency in the real estate, construction, and property management to offer you a one-stop solution for all your property needs. From helping you find the perfect home or investment property to crafting personalized construction plans that fit your vision, we deliver tailored solutions designed to meet your specific goals.
     
              </ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="welcome" size="12" offset-lg="2" size-lg="8">
          <ion-card>
            <ion-card-header>
              <ion-card-title style="color: #13550a;"><b> Core Values </b></ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-text>
                Trust
                <br>Transparency
                <br>Team Work
     
              </ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" offset-lg="2" size-lg="4">
          <ion-card>
            <ion-card-header>
              <ion-card-title style="color: #13550a;"><b>Mission</b></ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-text>
                To become the most trusted, people driven, tech enabled platform in the real estate, 
                home construction and property management space, 
                creating value to each stakeholder in the system, through complete transparency and great teamwork.
              </ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" size-lg="4">
          <ion-card>
            <ion-card-header>
              <ion-card-title style="color: #13550a;"><b>Vision</b></ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-text>
                We aim to help 25 buyers acquire their desired properties, construct 15 safe, durable, 
                elegant, and cost-effective homes, and enroll 100 homeowners in our property management services by 2030.
              </ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>
