div {
  height: 100%;
  width: 100%;
}

.backgroud-image-shade.landscape {
  background-image: url('../../../../../assets/images/landing_landscape_rs.webp');
}

.backgroud-image-shade.portrait {
  background-image: url('../../../../../assets/images/landing_portrait_rs.webp');
}

.full-screen {
  display: flex;
  flex-direction: column;
}

.gradient-top-left {
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 25%
  );
}
.gradient-bottom {
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 10%);
}
