<ion-content #content>
  <ion-text color="dark" mode="md">
    <!-- <h2 class="ion-text-center" style="font-family: 'Bradley Hand', cursive"> -->
    <h2
      class="ion-text-center"
      style="font-family: 'Times New Roman', Times, serif"
    >
      <b>
        <img
          class="left logo"
          alt="The Bilva Group"
          src="assets/images/ownit_tm.png"
        />
        <span> Real estate made simple, swift and stress-free ! </span>
      </b>
    </h2>
  </ion-text>

  <ion-grid>
    <ion-row>
      @for (solution of solutions; track $index) {
      <ion-col size="12" size-lg="2.4">
        <ion-card class="m-0" mode="md">
          <img
            class="reality-solution"
            [alt]="solution.title"
            [src]="solution.imgSrc"
            loading="lazy"
          />
          <ion-card-header class="ion-text-center">
            <ion-card-title>{{ solution.title }}</ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-text-left">
            {{ solution.content }}
            <br />
            <br />
            Charges : @for (charges of solution.charges; track $index) {
            <br />
            {{ charges }} }
          </ion-card-content>
        </ion-card>
      </ion-col>
      }
    </ion-row>
  </ion-grid>

  <!-- <ion-text color="dark" mode="md" id="testimonialsTxt">
    <h2
      class="ion-text-center"
      style="font-family: 'Times New Roman', Times, serif"
    >
      <b>
        <span> Client Testimonials </span>
      </b>
    </h2>
  </ion-text>
  <div class="testimonials ion-hide-lg-down">
    @for (testimonial of testimonials; track $index) {
    <div class="testimonial">
      <ng-container
        [ngTemplateOutlet]="testimonialTemplate"
        [ngTemplateOutletContext]="{testimonial}"
      >
      </ng-container>
    </div>
    }
  </div>
  <ion-grid class="ion-hide-lg-up">
    @for (testimonial of testimonials; track $index) {
    <ng-container
      [ngTemplateOutlet]="testimonialTemplate"
      [ngTemplateOutletContext]="{testimonial}"
    >
    </ng-container>
    }
  </ion-grid> -->
</ion-content>

<ng-template #testimonialTemplate let-testimonial="testimonial">
  <ion-card class="m-0" mode="md">
    <ion-card-header class="ion-text-left">
      <ion-card-title>
        {{ testimonial.name }}
        <span class="customer-id"> ({{ testimonial.customerId }}) </span>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-left">
      <bilva-rating [rating]="testimonial.rating" />
      <br />
      <ion-text class="testimonial-text">
        {{ testimonial.text }}
      </ion-text>
    </ion-card-content>
  </ion-card>
</ng-template>
