:host {
  overflow-y: auto;
}

img.reality-solution {
  min-height: 20em;
  height: 20em;
  max-height: 20em;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

ion-card {
  height: 100%;
  border: 0.2em solid black;
  cursor: pointer;
}

ion-card:hover {
  border: 0.2em solid white;
}

ion-card-title {
  cursor: pointer;
}

img.logo {
  display: inline;
  height: 1em;
  margin-bottom: -0.25em;
}

div.testimonials {
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
  height: 30%;
  margin-left: 0.5em;
  margin-right: 0.5em;
  white-space: nowrap;

  div.testimonial {
    height: 100%;
    width: 32.6%;
    display: inline-block;
    margin-left: 0.25em;
    margin-right: 0.25em;
    margin-bottom: 1em;
    .testimonial-text {
      white-space: wrap;
    }
  }
}

.customer-id {
  color: gray;
  font-size: small;
}
