<!-- <swiper-container
  class="ion-hide-lg-down"
  navigation="true"
  pagination="true"
  pagination-clickable="true"
  scrollbar="true"
  keyboard="true"
  mousewheel="true"
  css-mode="true"
>
  <swiper-slide>
    <bilva-own-it-solutions />
  </swiper-slide>
  <swiper-slide>
    <bilva-own-it-testimonials />
  </swiper-slide>
</swiper-container>
<ng-container>
  <bilva-own-it-solutions class="ion-hide-lg-up" />
  <bilva-own-it-testimonials class="ion-hide-lg-up" />
</ng-container> -->

<div class="header">
  <ion-text color="dark" mode="md">
    <h2
      class="ion-text-center"
      style="font-family: 'Times New Roman', Times, serif"
    >
      <b>
        <img
          class="left logo"
          alt="The Bilva Group"
          src="assets/images/ownit_tm.png"
        />
        <span> Real estate made simple, swift and stress-free ! </span>
      </b>
    </h2>
  </ion-text>
</div>
<div class="body">
  <swiper-container
    navigation="true"
    pagination="true"
    pagination-clickable="true"
    scrollbar="true"
    keyboard="true"
    mousewheel="true"
    css-mode="true"
  >
    <swiper-slide>
      <bilva-own-it-solutions />
    </swiper-slide>
    <swiper-slide>
      <bilva-own-it-testimonials />
    </swiper-slide>
  </swiper-container>
</div>
