<ion-text color="dark" mode="md">
  <h2
    class="ion-text-center"
    style="font-family: 'Times New Roman', Times, serif"
  >
    <b>
      <img
        class="left logo"
        alt="The Bilva Group"
        src="assets/images/ownit.png"
      />
      <br />
      <span> Real estate made simple, swift and stress-free ! </span>
    </b>
  </h2>
</ion-text>

<ion-grid>
  <ion-row>
    <ion-col class="pb-0 mb-1p" size="12" size-lg="2.4">
      <ion-card class="m-0" mode="md">
        <img
          class="reality-solution"
          alt="BUY SELL RENT"
          src="assets/images/BS.WEBP"
          loading="lazy"
        />
        <ion-card-header class="ion-text-center">
          <ion-card-title>Buying and Selling</ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-text-justify">
          Guide property buyers and sellers through every stage of the
          transaction process, ensuring a seamless and hassle-free experience!
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col class="pt-0 pb-0 mb-1p ion-hide-lg-up" size="12" size-lg="2.4">
      <ng-container *ngTemplateOutlet="buySellCharges"></ng-container>
    </ion-col>
    <ion-col class="pt-0 ion-hide-lg-up" size="12" size-lg="2.4">
      <ng-container *ngTemplateOutlet="buySellTestimonials"></ng-container>
    </ion-col>

    <ion-col class="pb-0 mb-1p" size="12" size-lg="2.4">
      <ion-card class="m-0" mode="md">
        <img
          class="reality-solution"
          alt="BUILD"
          src="assets/images/HS.WEBP"
          loading="lazy"
        />
        <ion-card-header class="ion-text-center">
          <ion-card-title>Home Construction</ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-text-justify">
          Design and build secure, stylish, and durable structures that are
          wallet-friendly, ensuring full transparency on materials, processes,
          and costs!
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col class="pt-0 pb-0 mb-1p ion-hide-lg-up" size="12" size-lg="2.4">
      <ng-container *ngTemplateOutlet="homeConstructionCharges"></ng-container>
    </ion-col>
    <ion-col class="pt-0 ion-hide-lg-up" size="12" size-lg="2.4">
      <ng-container
        *ngTemplateOutlet="homeConstructionTestimonials"
      ></ng-container>
    </ion-col>

    <ion-col class="pb-0 mb-1p" size="12" size-lg="2.4">
      <ion-card class="m-0" mode="md">
        <img
          class="reality-solution"
          alt="HOME INTERIORS"
          src="assets/images/HI.webp"
          loading="lazy"
        />
        <ion-card-header class="ion-text-center">
          <ion-card-title>Home Interiors</ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-text-justify">
          Crafts unique designs that elevate your space, merging aesthetics and
          functionality for a harmonious living experience!
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col class="pt-0 pb-0 mb-1p ion-hide-lg-up" size="12" size-lg="2.4">
      <ng-container *ngTemplateOutlet="homeInteriorsCharges"></ng-container>
    </ion-col>
    <ion-col class="pt-0 ion-hide-lg-up" size="12" size-lg="2.4">
      <ng-container
        *ngTemplateOutlet="homeInteriorsTestimonials"
      ></ng-container>
    </ion-col>

    <ion-col class="pb-0 mb-1p" size="12" size-lg="2.4">
      <ion-card class="m-0" mode="md">
        <img
          class="reality-solution"
          alt="MANAGE"
          src="assets/images/AM.webp"
          loading="lazy"
        />
        <ion-card-header class="ion-text-center">
          <ion-card-title> Asset Management </ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-text-justify">
          Enhance homeowner's investments by keeping properties in optimal
          shape, unlocking maximum returns and value with ease!
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col class="pt-0 pb-0 mb-1p ion-hide-lg-up" size="12" size-lg="2.4">
      <ng-container *ngTemplateOutlet="assetManagementCharges"></ng-container>
    </ion-col>
    <ion-col class="pt-0 ion-hide-lg-up" size="12" size-lg="2.4">
      <ng-container *ngTemplateOutlet="assetManagementTestimonials">
      </ng-container>
    </ion-col>

    <ion-col class="pb-0 mb-1p" size="12" size-lg="2.4">
      <ion-card class="m-0" mode="md">
        <img
          class="reality-solution"
          alt="RELOCATION SUPPORT"
          src="assets/images/RS.WEBP"
          loading="lazy"
        />
        <ion-card-header class="ion-text-center">
          <ion-card-title>Relocation Support</ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-text-justify">
          We simplify your relocation with comprehensive support, ensuring a
          smooth and effortless transition to your new home!
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col class="pt-0 pb-0 mb-1p ion-hide-lg-up" size="12" size-lg="2.4">
      <ng-container *ngTemplateOutlet="relocationSupportCharges"></ng-container>
    </ion-col>
    <ion-col class="pt-0 ion-hide-lg-up" size="12" size-lg="2.4">
      <ng-container *ngTemplateOutlet="relocationSupportTestimonials">
      </ng-container>
    </ion-col>
  </ion-row>

  <ion-row class="ion-hide-lg-down">
    <ion-col class="pt-0 pb-0 mb-1p" size="12" size-lg="2.4">
      <ng-container *ngTemplateOutlet="buySellCharges"></ng-container>
    </ion-col>
    <ion-col class="pt-0 pb-0 mb-1p" size="12" size-lg="2.4">
      <ng-container *ngTemplateOutlet="homeConstructionCharges"></ng-container>
    </ion-col>
    <ion-col class="pt-0 pb-0 mb-1p" size="12" size-lg="2.4">
      <ng-container *ngTemplateOutlet="homeInteriorsCharges"></ng-container>
    </ion-col>
    <ion-col class="pt-0 pb-0 mb-1p" size="12" size-lg="2.4">
      <ng-container *ngTemplateOutlet="assetManagementCharges"></ng-container>
    </ion-col>
    <ion-col class="pt-0 pb-0 mb-1p" size="12" size-lg="2.4">
      <ng-container *ngTemplateOutlet="relocationSupportCharges"></ng-container>
    </ion-col>
  </ion-row>

  <ion-row class="ion-hide-lg-down">
    <ion-col class="pt-0" size="12" size-lg="2.4">
      <ng-container *ngTemplateOutlet="buySellTestimonials"></ng-container>
    </ion-col>
    <ion-col class="pt-0" size="12" size-lg="2.4">
      <ng-container *ngTemplateOutlet="homeConstructionTestimonials">
      </ng-container>
    </ion-col>
    <ion-col class="pt-0" size="12" size-lg="2.4">
      <ng-container *ngTemplateOutlet="homeInteriorsTestimonials">
      </ng-container>
    </ion-col>
    <ion-col class="pt-0" size="12" size-lg="2.4">
      <ng-container *ngTemplateOutlet="assetManagementTestimonials">
      </ng-container>
    </ion-col>
    <ion-col class="pt-0" size="12" size-lg="2.4">
      <ng-container *ngTemplateOutlet="relocationSupportTestimonials">
      </ng-container>
    </ion-col>
  </ion-row>
</ion-grid>

<ng-template #buySellCharges>
  <ion-card class="m-0" mode="md">
    <ion-card-content class="ion-text-center">
      <b>Charges</b>
      <br />
      <br />
      <p>
        0% from sellers
        <br />
        1% from buyers
      </p>
    </ion-card-content>
  </ion-card>
</ng-template>

<ng-template #homeConstructionCharges>
  <ion-card class="m-0" mode="md">
    <ion-card-content class="ion-text-center">
      <b>Charges</b>
      <br />
      <br />
      <p>
        Full Contract: 1850, 2050, 2300/sqft
        <br />
        Hybrid Contract: 150/sqft
        <br />
        Labour Contract: 1100/sqft
      </p>
    </ion-card-content>
  </ion-card>
</ng-template>

<ng-template #homeInteriorsCharges>
  <ion-card class="m-0" mode="md">
    <ion-card-content class="ion-text-center">
      <b>Charges</b>
      <br />
      <br />
      <p>Customised</p>
    </ion-card-content>
  </ion-card>
</ng-template>

<ng-template #assetManagementCharges>
  <ion-card class="m-0" mode="md">
    <ion-card-content class="ion-text-center">
      <b>Charges</b>
      <br />
      <br />
      <p>Customised</p>
    </ion-card-content>
  </ion-card>
</ng-template>

<ng-template #relocationSupportCharges>
  <ion-card class="m-0" mode="md">
    <ion-card-content class="ion-text-center">
      <b>Charges</b>
      <br />
      <br />
      <p>Customised</p>
    </ion-card-content>
  </ion-card>
</ng-template>

<ng-template #buySellTestimonials>
  <ion-card class="testimonials m-0" mode="md">
    <ion-card-content class="ion-text-center">
      <b>Testimonials</b>
      <br />
      <br />
      <p>
        The testimonials we receive are a testament to our commitment to
        excellence, offering real-life stories of how we’ve made a difference
        for our clients.
      </p>
    </ion-card-content>
  </ion-card>
</ng-template>
<ng-template #homeConstructionTestimonials>
  <ion-card class="testimonials m-0" mode="md">
    <ion-card-content class="ion-text-center">
      <b>Testimonials</b>
      <br />
      <br />
      <p>
        The testimonials we receive are a testament to our commitment to
        excellence, offering real-life stories of how we’ve made a difference
        for our clients.
      </p>
    </ion-card-content>
  </ion-card>
</ng-template>
<ng-template #homeInteriorsTestimonials>
  <ion-card class="testimonials m-0" mode="md">
    <ion-card-content class="ion-text-center">
      <b>Testimonials</b>
      <br />
      <br />
      <p>
        The testimonials we receive are a testament to our commitment to
        excellence, offering real-life stories of how we’ve made a difference
        for our clients.
      </p>
    </ion-card-content>
  </ion-card>
</ng-template>
<ng-template #assetManagementTestimonials>
  <ion-card class="testimonials m-0" mode="md">
    <ion-card-content class="ion-text-center">
      <b>Testimonials</b>
      <br />
      <br />
      <p>
        The testimonials we receive are a testament to our commitment to
        excellence, offering real-life stories of how we’ve made a difference
        for our clients.
      </p>
    </ion-card-content>
  </ion-card>
</ng-template>
<ng-template #relocationSupportTestimonials>
  <ion-card class="testimonials m-0" mode="md">
    <ion-card-content class="ion-text-center">
      <b>Testimonials</b>
      <br />
      <br />
      <p>
        The testimonials we receive are a testament to our commitment to
        excellence, offering real-life stories of how we’ve made a difference
        for our clients.
      </p>
    </ion-card-content>
  </ion-card>
</ng-template>
