:host {
  overflow-y: scroll;
}

img.reality-solution {
  min-height: 20em;
  height: 20em;
  max-height: 20em;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

ion-card {
  height: 100%;
}
ion-card:hover {
  border: 0.1em solid;
}

ion-card-title {
  cursor: pointer;
}

img.logo {
  display: inline;
  height: 1em;
  margin-bottom: -0.25em;
}
ion-card.testimonials {
  min-height: 20em;
  max-height: 20em;
}
