<form [formGroup]="loginForm">
  <ion-list [inset]="true">
    <ion-item>
      <ion-input
        type="email"
        formControlName="username"
        placeholder="yourname@domain.com"
        errorText="Required Valid Email"
      >
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        type="password"
        formControlName="password"
        placeholder="Password"
        errorText="Required"
      >
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-button color="dark" [disabled]="loginForm.invalid" (click)="login()">
        LOGIN
      </ion-button>
    </ion-item>

    <ion-item *ngIf="success || error">
      <ion-text *ngIf="success" color="success"> Login Successful! </ion-text>
      <ion-text *ngIf="error" color="danger"> Login Failed! </ion-text>
    </ion-item>
  </ion-list>
</form>
