:host {
  height: 100%;
  min-height: 100%;
}
img {
  max-width: 100%;
  width: max-content;
}

.bilva-bilva-slide {
  padding-top: 5%;
  background-color: rgba(24, 30, 40, 255);
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: fit-content;
}

.tagline {
  text-align: center;
  letter-spacing: 0.9em;
  max-width: 100%;
}
