ion-card.project {
  height: 100%;
}

ion-card.project:hover {
  border: 0.1em solid;
}

ion-card-title {
  cursor: pointer;
}

p {
  margin-top: 1em;
  text-align: justify;
}

.header {
  padding-left: 1em;
}
