@import 'swiper/scss';

ion-card.project {
  height: 100%;
}

ion-card.project:hover {
  border: 0.1em solid;
}

ion-card-title {
  cursor: pointer;
}

p {
  margin-top: 1em;
  text-align: justify;
}

.header {
  padding-left: 1em;
}

:host,
swiper-container {
  height: 100%;
}

ion-grid {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
  ion-row.project-slides {
    height: 100%;
  }
}

bilva-home-contruction-project-slide {
  height: 100%;
}
