<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Our Projects</ion-card-title>
      <ion-card-subtitle>
        We build homes that are crafted with care, where quality meets comfort
        and every detail is designed to evoke a sense of belonging and warmth.
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content> </ion-card-content>
  </ion-card>

  <ion-row *ngIf="projects$ | async as projects">
    <ion-col
      *ngFor="let project of projects"
      size="12"
      size-lg="6"
      [routerLink]="[project.id]"
    >
      <ion-card class="project">
        <ion-card-header>
          <ion-card-title>{{ project.title }}</ion-card-title>
          <ion-card-subtitle>
            {{ project.description }}
          </ion-card-subtitle>
        </ion-card-header>

        <ion-card-content> </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
