<ion-split-pane when="lg" contentId="home-construction">
  <ion-menu contentId="home-construction">
    <ion-content class="ion-padding">
      <ion-list>
        <ion-item
          [button]="true"
          [detail]="true"
          [routerLinkActive]="'active'"
          [routerLink]="
            appRoutes.bilva.business.realtySolution.homeConstruction.ourProjects
          "
        >
          Our Projects
        </ion-item>
        <ion-item
          [button]="true"
          [detail]="true"
          [routerLinkActive]="'active'"
          [routerLink]="
            appRoutes.bilva.business.realtySolution.homeConstruction
              .contractComparision
          "
        >
          Contract Comparison
        </ion-item>
        <ion-item
          [button]="true"
          [detail]="true"
          [routerLinkActive]="'active'"
          [routerLink]="
            appRoutes.bilva.business.realtySolution.homeConstruction
              .testimonials
          "
        >
          Testimonials
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="home-construction">
    <ion-content class="ion-padding">
      <ion-router-outlet></ion-router-outlet>
    </ion-content>
  </div>
</ion-split-pane>
