<ion-split-pane when="lg" contentId="home-construction">
  <ion-menu contentId="home-construction" menuId="home-construction">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button menu="home-construction"></ion-menu-button>
        </ion-buttons>
        <ion-title>Home Construction</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-item-group>
          <ion-item
            *ngFor="let item of menuItems"
            [button]="true"
            [detail]="true"
            [routerLinkActive]="'active'"
            [routerLink]="item.url"
            (click)="closeMenu(item)"
          >
            {{ item.label }}
          </ion-item>
        </ion-item-group>
      </ion-list>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="home-construction">
    <ion-header class="ion-hide-lg-up">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button menu="home-construction"></ion-menu-button>
        </ion-buttons>
        <!-- <ion-title>{{ selectedMenu }}</ion-title> -->
        <ion-title> Home Construction </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-router-outlet></ion-router-outlet>
    </ion-content>
  </div>
</ion-split-pane>
