img.reality-solution {
  min-height: 20em;
  height: 20em;
  max-height: 20em;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-top: 0.2em solid gray;
}

ion-card {
  height: 100%;
  border: 0.2em solid black;
  cursor: pointer;
}

ion-card.solution:hover {
  border: 0.2em solid white;
}

ion-card-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
