<ion-text color="dark" mode="md">
  <h2
    class="ion-text-center"
    style="font-family: 'Times New Roman', Times, serif"
  >
    <b>
      <img
        class="left logo"
        alt="The Bilva Group"
        src="assets/images/ownit_tm.png"
      />
      <span> Real estate made simple, swift and stress-free ! </span>
    </b>
  </h2>
</ion-text>

<ion-grid>
  <ion-row>
    @for (solution of solutions; track $index) {
    <ion-col size="12" size-lg="2.4" class="solution">
      <ion-card class="m-0 solution" mode="md">
        <img
          class="reality-solution"
          [alt]="solution.title"
          [src]="solution.imgSrc"
          loading="lazy"
        />
        <ion-card-header class="ion-text-center">
          <ion-card-title>{{ solution.title }}</ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-text-left">
          {{ solution.content }}
          <div class="charges">
            <ng-container
              [ngTemplateOutlet]="chargesTemplate"
              [ngTemplateOutletContext]="{solution}"
            >
            </ng-container>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>

    }
  </ion-row>
</ion-grid>

<ng-template #chargesTemplate let-solution="solution">
  Charges : @for (charges of solution.charges; track $index) {
  <br />
  {{ charges }} }
</ng-template>
