<ion-content class="ion-padding">
  <ion-row>
    <ion-col>
      <ion-text>
        <h1 color="dark" class="ion-no-margin">
          <b> Contract Comparison </b>
        </h1>
      </ion-text>
      <ion-text>
        <h4 color="dark" class="ion-no-margin">
          Our estimation services come with customizable package options,
          empowering you to select the one that aligns perfectly with your
          requirements and preferences.
        </h4>
      </ion-text>
    </ion-col>
  </ion-row>
</ion-content>
