<div class="page hero">
  <div class="gradient">
    <ion-grid>
      <ion-row>
        <ion-col size="12" class="left">
          <ion-text>
            <h1 class="left quote">MANAGE YOUR HOUSE WITH US!</h1>
            <h6 class="left sub-quote">
              BUY, SELL, MANAGE OR BUILD YOUR HOUSE WITH CONFIDENCE
            </h6>
          </ion-text>
          <ion-button
            color="light"
            class="get-started"
            (click)="scroll(getStarted)"
          >
            GET STARTED
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>

<div #getStarted class="page contact-us">
  <form [formGroup]="contactUsform">
    <ion-list>
      <ion-item>
        <ion-input
          formControlName="fullName"
          placeholder="Full Name"
          errorText="Required"
        >
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          type="tel"
          formControlName="phone"
          placeholder="Phone Number"
          errorText="Required Valid Phone Number"
        >
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          type="email"
          formControlName="email"
          placeholder="yourname@domain.com"
          errorText="Required Valid Email"
        >
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-textarea
          class="contact-us-message"
          formControlName="message"
          placeholder="Your Message ..."
          errorText="Required"
        >
        </ion-textarea>
      </ion-item>

      <ion-item>
        <ion-button [disabled]="contactUsform.invalid">
          REQUEST CALL BACK
        </ion-button>
      </ion-item>
    </ion-list>
  </form>
</div>

<div class="page">
  <ion-grid>
    <ion-row>
      <ion-col size="12" offset-lg="2" size-lg="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Mission</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum."
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-lg="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Vision</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum."
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
