:host {
  overflow-y: scroll;
}

div.hero {
  background-image: url('../../assets/images/content-background.jpg');

  .quote {
    font-size: 3em;
  }
}

div.know-more {
  .business {
    height: 20em;

    .description {
      padding: 1em;
    }

    .gradient {
      cursor: pointer;
    }

    a {
      position: absolute;
      bottom: 1em;
      margin-left: 1em;
    }
  }

  .market {
    background-image: url('../../assets/images/property_market.jpg');
  }
  .manage {
    background-image: url('../../assets/images/property_manage.webp');
  }
  .build {
    background-image: url('../../assets/images/property_build.jpg');
  }
}
