:host {
  overflow-y: scroll;
}

div.hero {
  background-image: url('../../assets/images/content.jpg');

  min-height: 135%;
  height: 100%;
  max-height: 100%;
  width: 100%;

  .quote {
    font-size: 2em;
  }
}

div.know-more {
  .business {
    height: 20em;

    .description {
      padding: 1em;
    }

    .gradient {
      cursor: pointer;
    }

    a {
      position: absolute;
      bottom: 1em;
      margin-left: 1em;
    }
  }
}
img {
  min-height: 20em;
  height: 20em;
  max-height: 20em;
  width: 100%;
}

ion-card {
  height: 100%;
}

//ion-card:hover {
//  transform: rotateY(360deg);
// transition: transform 2s;
// }
