<div class="page">
  <div class="full-screen hero backgroud-image-shade ion-hide-lg-down">
    <div class="full-screen gradient-top-left">
      <bilva-home-hero (knowMore)="scrollTo(knowMore)"> </bilva-home-hero>
    </div>
  </div>
  <div class="full-screen vertical-flex ion-hide-lg-up">
    <bilva-home-hero (knowMore)="scrollTo(knowMore)"> </bilva-home-hero>
    <div class="hero backgroud-image-shade flex-grow">
      <div class="full-screen gradient gradient-bottom"></div>
    </div>
  </div>
</div>

<div #knowMore class="pb-1 know-more">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-lg="4">
        <ion-card>
          <img alt="BUY SELL RENT" src="/assets/images/buy_sell.jpg" />
          <ion-card-header>
            <ion-card-title>PROPERTY BUYING AND SELLING</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Lead property buyers and sellers through every stage of the sale
            process, making their experience smooth and stress-free!
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-lg="4">
        <ion-card>
          <img alt="BUILD" src="/assets/images/property_build.jpg" />
          <ion-card-header>
            <ion-card-title>CONSTRUCTION</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Build safe, stylish and durable structures that are budget-friendly,
            by providing complete transparency about the construction process,
            materials and project costs!
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-lg="4">
        <ion-card>
          <img alt="MANAGE" src="/assets/images/property_manage.webp" />
          <ion-card-header>
            <ion-card-title>ASSET MANAGEMENT</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Elevate homeowners by keeping their properties in prime condition,
            unlocking maximum returns and value with ease!
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
