<div class="page hero backgroud-image-shade">
  <div class="gradient middle pl-1">
    <ion-grid>
      <ion-row>
        <ion-col size="12" class="left">
          <ion-text>
            <h1 class="left quote">ONE STOP SOLUTION FOR YOUR REAL ESTATE!</h1>
          </ion-text>
          <ion-text>
            <h6 class="left sub-quote">
              BUY, SELL, RENT, MANAGE OR BUILD YOUR HOUSE WITH CONFIDENCE
            </h6>
          </ion-text>

          <ion-button
            color="dark"
            class="get-started mt-1"
            (click)="scrollTo(knowMore)"
          >
            KNOW MORE
          </ion-button>
          <ion-button
            color="dark"
            class="get-started mt-1"
            [routerLink]="['/contact']"
          >
            GET STARTED
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>

<div #knowMore class="page know-more">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-lg="4">
        <div class="business market backgroud-image-shade">
          <div class="gradient ion-activatable" [routerLink]="['/market']">
            <ion-ripple-effect></ion-ripple-effect>
            <a>
              BUY, SELL OR RENT <ion-icon name="paper-plane-outline"></ion-icon>
            </a>
          </div>
        </div>
      </ion-col>
      <ion-col size="12" size-lg="4">
        <div class="business manage backgroud-image-shade">
          <div class="gradient ion-activatable" [routerLink]="['/manage']">
            <ion-ripple-effect></ion-ripple-effect>
            <a>
              PROPERTY MANAGMENT
              <ion-icon name="paper-plane-outline"></ion-icon>
            </a>
          </div>
        </div>
      </ion-col>
      <ion-col size="12" size-lg="4">
        <div class="business build backgroud-image-shade">
          <div class="gradient ion-activatable" [routerLink]="['/build']">
            <ion-ripple-effect></ion-ripple-effect>
            <a>
              PROPERTY CONSTRUCTION
              <ion-icon name="paper-plane-outline"></ion-icon>
            </a>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
