:host {
  overflow-y: auto;
  background-color: black;
}

div.contact-us {
  //background-image: url('../../../../assets/images/real-estate-management-system.webp');

  ion-card {
    min-height: 35em;
    height: auto;
  }
}
