:host {
  overflow-y: scroll;
}

div.contact-us {
  //background-image: url('../../../../assets/images/real-estate-management-system.webp');

  ion-card {
    min-height: 35em;
    height: auto;
  }
}
