<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title [routerLink]="['home']">
        <img class="left" alt="BUY SELL RENT" src="assets/images/logo2.png" width="200" height="38"/>
        </ion-title>
      <ion-buttons slot="end">
        <ion-button
          class="ion-hide-lg-down"
          [routerLinkActive]="['home']"
          [routerLink]="['home']"
        >
          Home
        </ion-button>
        <ion-button
          class="ion-hide-lg-down"
          [routerLinkActive]="['contact']"
          [routerLink]="['contact']"
        >
          Contact
        </ion-button>
        <ion-button
          class="ion-hide-lg-down"
          [routerLinkActive]="['about']"
          [routerLink]="['about']"
        >
          About
        </ion-button>
        <ion-menu-button class="ion-hide-lg-up" auto-hide="false"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-menu side="end" contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title></ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-item
          [routerLinkActive]="['home']"
          [routerLink]="['home']"
          (click)="closeMenu()"
        >
          HOME
        </ion-item>
        <ion-item
          [routerLinkActive]="['contact']"
          [routerLink]="['contact']"
          (click)="closeMenu()"
        >
          CONTACT
        </ion-item>
        <ion-item
          [routerLinkActive]="['about']"
          [routerLink]="['about']"
          (click)="closeMenu()"
        >
          ABOUT
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-content class="ion-padding" id="main-content">
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-router-outlet></ion-router-outlet>
  </ion-content>
  <ion-footer>
    <ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-col size="12" [sizeLg]="4" class="left">
          </ion-col>
          <ion-col size="12" [sizeLg]="4" class="center">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <a
                    href="https://www.instagram.com/bilva_groups"
                    target="_blank"
                  >
                    <ion-icon name="logo-instagram"></ion-icon>
                  </a>
                </ion-col>
                <ion-col>
                  <a
                    href="https://www.instagram.com/bilva_groups"
                    target="_blank"
                  >
                    <ion-icon name="logo-twitter"></ion-icon>
                  </a>
                </ion-col>
                <ion-col>
                  <a href="tel:9916132424" target="_blank">
                    <ion-icon name="call-outline"></ion-icon>
                  </a>
                </ion-col>
                <ion-col>
                  <a href="mailto:naresh.nj@gmail.com" target="_blank">
                    <ion-icon name="mail-outline"></ion-icon>
                  </a>
                </ion-col>
                <ion-col>
                  <a
                    href="https://api.whatsapp.com/send?phone=9916132424"
                    target="_blank"
                  >
                    <ion-icon name="logo-whatsapp"></ion-icon>
                  </a>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
          <ion-col size="12" [sizeLg]="4" class="right copyright">
            Copyright © {{ currentYear }} Bilva. All Rights Reserved.
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-footer>
</ion-app>
