<ion-text color="dark" mode="md">
  <h2 class="ion-text-center" style="font-family: 'Bradley Hand', cursive">
    <b> OWN IT : Real estate made simple, swift and stress-free ! </b>
  </h2>
</ion-text>

<ion-grid>
  <ion-row>
    <ion-col size="12" size-lg="2.4">
      <ion-card class="m-0" mode="md">
        <img alt="BUY SELL RENT" src="assets/images/BS.WEBP" />
        <ion-card-header class="ion-text-center">
          <ion-card-title>Buying and Selling</ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-text-center">
          Guide property buyers and sellers through every stage of the
          transaction process, ensuring a seamless and hassle-free experience!
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="12" size-lg="2.4">
      <ion-card class="m-0" mode="md">
        <img alt="BUILD" src="assets/images/HS.WEBP" />
        <ion-card-header class="ion-text-center">
          <ion-card-title>Home Construction</ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-text-center">
          Design and build secure, stylish, and durable structures that are
          wallet-friendly, ensuring full transparency on materials, processes,
          and costs!
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="12" size-lg="2.4">
      <ion-card class="m-0" mode="md">
        <img alt="MANAGE" src="assets/images/AM.webp" />
        <ion-card-header class="ion-text-center">
          <ion-card-title>Asset Management</ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-text-center">
          Enhance homeowner's investments by keeping properties in optimal
          shape, unlocking maximum returns and value with ease!
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="12" size-lg="2.4">
      <ion-card class="m-0" mode="md">
        <img alt="HOME INTERIORS" src="assets/images/HI.webp" />
        <ion-card-header class="ion-text-center">
          <ion-card-title>Home Interiors</ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-text-center">
          Crafts unique designs that elevate your space, merging aesthetics and
          functionality for a harmonious living experience!
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="12" size-lg="2.4">
      <ion-card class="m-0" mode="md">
        <img alt="RELOCATION SUPPORT" src="assets/images/RS.WEBP" />
        <ion-card-header class="ion-text-center">
          <ion-card-title>Relocation Support</ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-text-center">
          We simplify your relocation with comprehensive support, ensuring a
          smooth and effortless transition to your new home!
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
