<ion-grid>
  <ion-row>
    <ion-col size="12" size-lg="2.4">
      <ion-card>
        <img alt="BUY SELL RENT" src="assets/images/BS.WEBP" />
        <ion-card-header>
          <ion-card-title>Buying and Selling</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Guide property buyers and sellers through every stage of the
          transaction process, ensuring a seamless and hassle-free experience!
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="12" size-lg="2.4">
      <ion-card>
        <img alt="BUILD" src="assets/images/HS.WEBP" />
        <ion-card-header>
          <ion-card-title>Home Construction</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Design and build secure, stylish, and durable structures that are
          wallet-friendly, ensuring full transparency on materials, processes,
          and costs!
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="12" size-lg="2.4">
      <ion-card>
        <img alt="MANAGE" src="assets/images/property_manage.webp" />
        <ion-card-header>
          <ion-card-title>Asset Management</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Enhance homeowner's investments by keeping properties in optimal
          shape, unlocking maximum returns and value with ease!
        </ion-card-content>
      </ion-card>
    </ion-col>
    
    <ion-col size="12" size-lg="2.4">
      <ion-card>
        <img alt="HOME INTERIORS" src="assets/images/HI.WEBP" />
        <ion-card-header>
          <ion-card-title>Home Interiors</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Crafts unique designs that elevate your space, merging aesthetics and
          functionality for a harmonious living experience!
        </ion-card-content>
      </ion-card>
    </ion-col>


    <ion-col size="12" size-lg="2.4">
      <ion-card>
        <img alt="RELOCATION SUPPORT" src="assets/images/RS.WEBP" />
        <ion-card-header>
          <ion-card-title>Relocation Support</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          We simplify your relocation with comprehensive support, ensuring a
          smooth and effortless transition to your new home!
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
