<ion-content class="ion-padding">
  <ion-row>
    <ion-col>
      <ion-text>
        <h1 color="dark" class="ion-no-margin">
          <b> Testimonials </b>
        </h1>
      </ion-text>
      <ion-text>
        <h4 color="dark" class="ion-no-margin">
          The testimonials we receive are a testament to our commitment to
          excellence, offering real-life stories of how we’ve made a difference
          for our clients.
        </h4>
      </ion-text>
    </ion-col>
  </ion-row>
</ion-content>
