:host {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  .body {
    flex-grow: 1;
  }
}

div.testimonials {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  white-space: nowrap;

  div.testimonial {
    width: 30%;
    display: inline-block;
    margin-left: 0.25em;
    margin-right: 0.25em;
    margin-bottom: 1em;
  }
}
