<ion-text color="dark" mode="md">
  <h2
    class="ion-text-center"
    style="font-family: 'Times New Roman', Times, serif"
  >
    <b>
      <span> Client Testimonials </span>
    </b>
  </h2>
</ion-text>
<div class="testimonials ion-hide-lg-down">
  @for (testimonial of testimonials; track $index) {
  <div class="testimonial">
    <ng-container
      [ngTemplateOutlet]="testimonialTemplate"
      [ngTemplateOutletContext]="{testimonial}"
    >
    </ng-container>
  </div>
  }
</div>

<ion-grid class="ion-hide-lg-up">
  @for (testimonial of testimonials; track $index) {
  <ng-container
    [ngTemplateOutlet]="testimonialTemplate"
    [ngTemplateOutletContext]="{testimonial}"
  >
  </ng-container>
  }
</ion-grid>

<ng-template #testimonialTemplate let-testimonial="testimonial">
  <ion-card class="m-0" mode="md">
    <ion-card-header class="ion-text-left">
      <iframe
        width="560"
        height="315"
        [src]="testimonial.url | safeUrl"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
      <ion-card-title>
        {{ testimonial.name }}
        <span class="customer-id"> ({{ testimonial.customerId }}) </span>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-left">
      <bilva-rating [rating]="testimonial.rating" />
      <br />
      <ion-text class="testimonial-text">
        {{ testimonial.text }}
      </ion-text>
    </ion-card-content>
  </ion-card>
</ng-template>
