<div class="header">
  <ion-text color="dark" mode="md">
    <h2
      class="ion-text-center"
      style="font-family: 'Times New Roman', Times, serif"
    >
      <b> <span> Client Testimonials </span> </b>
    </h2>
  </ion-text>
</div>
<div class="body">
  <div class="testimonials ion-hide-lg-down">
    @for (testimonial of testimonials; track $index) {
    <div class="testimonial">
      <bilva-own-it-testimonial [testimonial]="testimonial" />
    </div>
    }
  </div>
  <!-- <ion-grid class="ion-hide-lg-down">
    <ion-row *ngFor="let row of rows; let i = index" class="page">
      @for (col of cols; let j=$index;track $index) { @if((((i*3)+j) <
      testimonials.length)) {
      <ion-col size="12" size-lg="4">
        <bilva-own-it-testimonial [testimonial]="testimonials[i * 3 + j]" />
      </ion-col>
      } }
    </ion-row>
  </ion-grid> -->

  <ion-grid class="ion-hide-lg-up">
    <ion-row>
      @for (testimonial of testimonials; track $index) {
      <ion-col size="12" size-lg="4">
        <bilva-own-it-testimonial [testimonial]="testimonial" />
      </ion-col>
      }
    </ion-row>
  </ion-grid>
</div>

<ng-template #testimonialTemplate let-testimonial="testimonial"> </ng-template>
