div.testimonials {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  margin-left: 0.5em;
  margin-right: 0.5em;
  white-space: nowrap;

  div.testimonial {
    width: 32.6%;
    display: inline-block;
    margin-left: 0.25em;
    margin-right: 0.25em;
    margin-bottom: 1em;
    .testimonial-text {
      white-space: wrap;
    }
  }
}

.customer-id {
  color: gray;
  font-size: small;
}
