<div class="page center bilva-bilva-slide">
  <div class="container">
    <img
      src="assets/images/landing_middle.png"
      alt="The Bilva Group"
      loading="lazy"
    />
    <div>
      <!-- <ion-text class="tagline" color="dark">INNOVATE EVERYWHERE</ion-text> -->

      <ion-text>
        <!-- <h2  color="light" style="font-family: 'Bradley Hand', cursive"> -->
        <h2 color="light" style="font-family: 'Times New Roman', Times, serif">
          Blending creativity with strategy, to forge impactful solutions.
        </h2>
      </ion-text>
    </div>
  </div>
</div>
