<div class="ion-text-center bilva-bilva-slide">

  <div class="container">
    <br>
    <br>
    <br>
    <img src="assets/images/bilva.png" alt="The Bilva Group" />
    <div>
 
      <ion-text class="tagline" color="dark">INNOVATE EVERYWHERE</ion-text>
  
        <ion-text >
          <h2  color="light" style="font-family: 'Bradley Hand', cursive">
            <br>
            <br>
              Blending creativity with strategy, to forge impactful solutions
          </h2>
        </ion-text>
  
      
    </div>
  </div>
</div>
