:host {
  height: 100%;
  min-height: 100%;
  width: 100%;
}

.bilva-bilva-slide {
  background-color: black;
  display: flex;
}

.container {
  width: fit-content;
  text-align: center;

  margin: auto;
  img {
    width: 20rem;
  }
  .tagline {
    text-align: center;
    text-align-last: right;
    text-overflow: clip;
    text-wrap: nowrap;
    letter-spacing: 0.6rem;
    margin-left: 10px;
  }
}
