<div class="page banner backgroud-image-shade">
  <div class="gradient">
    <ion-grid>
      <ion-row>
        <ion-col size="12" offset-lg="1" size-lg="10">
          <ion-card>
            <ion-card-header>
              <ion-card-title style="color: #ffffff">
                <b> The Bilva Group </b>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-text>
                At "The Bilva Group," we serve as your technology-driven partners in Realty Solutions and Event Management. 
                In the realm of real estate, we streamline property transactions, ensuring a smooth and hassle-free process 
                for both buyers and sellers. We help homeowners transform their dream homes into reality through affordable 
                construction, all while maintaining top-notch quality. Additionally, we empower property owners to effectively 
                manage and maintain their assets, maximizing their value. We also offer support in home interior design and relocation 
                services. In Event Management, we design and execute unforgettable events—ranging from birthdays to corporate 
                functions—guaranteeing flawless experiences. With a sharp focus on creativity and attention to detail, 
                we craft memorable events tailored to your unique vision!
                <br />
              </ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" offset-lg="1" size-lg="10">
          <ion-card>
            <ion-card-header>
              <ion-card-title style="color: #ffffff">
                <b> Why Choose Us? </b>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-text>
                "The Bilva Group" offers unparalleled expertise in Realty Solutions and Event Management. 
                Our tech-driven approach guarantees efficiency and transparency in every interaction.
                 We deliver customized, high-quality solutions that cater to your specific needs, 
                 with a keen focus on creativity and detail. From concept to execution, 
                 we transform your vision into a flawless, 
                memorable experience. Expect exceptional service and results that go beyond the ordinary.
              </ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" offset-lg="1" size-lg="10">
          <ion-card>
            <ion-card-header>
              <ion-card-title style="color: #ffffff"
                ><b> Core Values </b></ion-card-title
              >
            </ion-card-header>
            <ion-card-content>
              <ion-text> Trust, Transparency, Team Work </ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" offset-lg="1" size-lg="10">
          <ion-card>
            <ion-card-header>
              <ion-card-title style="color: #ffffff"
                ><b>Vision</b></ion-card-title
              >
            </ion-card-header>
            <ion-card-content>
              <ion-text>
                To be the most trusted tech-enabled company in real estate
                solutions and event management.
              </ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" offset-lg="1" size-lg="10">
          <ion-card>
            <ion-card-header>
              <ion-card-title style="color: #ffffff"
                ><b>Mission</b></ion-card-title
              >
            </ion-card-header>
            <ion-card-content>
              <ion-text>
                To revolutionise real estate and event management landscapes
                with innovative technology and outstanding service, adding value
                for every stakeholder in the process while building lasting
                relationships and crafting extraordinary experiences that
                inspire and unite communities.
              </ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>
