<div class="page banner backgroud-image-shade">
  <div class="gradient">
    <ion-grid>
      <ion-row>
        <ion-col class="welcome" size="12" offset-lg="2" size-lg="8">
          <ion-card>
            <ion-card-header>
              <ion-card-title style="color: #ffffff;"><b>Welcome to The Bilva Group</b></ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-text>
                At Bilva Group, we believe every property has its own story to tell. Whether you are buying / selling the property, 
                building your dream home from scratch or seeking effortless maintenance and management of your property, we have got your back at every turn. 
                Our diverse range of services fuses expertise with cutting-edge innovation, making property ownership and management a walk in the park.
                <br>
      
              </ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="welcome" size="12" offset-lg="2" size-lg="8">
          <ion-card>
            <ion-card-header>
              <ion-card-title style="color: #ffffff;"><b> Why Choose Us? </b></ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-text>
                Our team brings together years of experience with a commitment to trust and transparency in the real estate, 
                construction and asset management, offering you a comprehensive one-stop solution for all your property needs. Whether you are hunting for the perfect home or investment, or developing personalized construction plans that 
                align with your vision, we leverage cutting-edge technology and seamless teamwork to deliver tailored solutions that meet your unique goals.
     
              </ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="welcome" size="12" offset-lg="2" size-lg="8">
          <ion-card>
            <ion-card-header>
              <ion-card-title style="color: #ffffff;"><b> Core Values </b></ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-text>
                Trust | Transparency | Team Work
     
              </ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" offset-lg="2" size-lg="4">
          <ion-card>
            <ion-card-header>
              <ion-card-title style="color: #ffffff;"><b>Vision</b></ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-text>
                Our vision is to empower 25 buyers to land their dream properties, create 15 chic and sturdy homes 
                that are budget-friendly, and welcome 100 homeowners into our exceptional property management services by 2030!
              </ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" size-lg="4">
          <ion-card>
            <ion-card-header>
              <ion-card-title style="color: #ffffff;"><b>Mission</b></ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-text>
                To become the ultimate, people-powered, tech-driven platform in real estate, home building, 
                and property management—creating incredible value for every stakeholder through total transparency and epic teamwork!
              </ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>
