<div class="page banner backgroud-image-shade">
  <div class="gradient">
    <ion-grid>
      <ion-row>
        <ion-col size="12" offset-lg="1" size-lg="10">
          <ion-card>
            <ion-card-header>
              <ion-card-title style="color: #ffffff">
                <b> The Bilva Group </b>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-text>
                At "The Bilva Group", we’re your tech enabled partners in Realty
                Solutions and Event Management. In realty, we empower property
                owners to maintain and manage their assets at peak performance,
                maximizing their benefits. We also help turn dream homes into
                reality with cost-effective construction without sacrificing
                quality. For buyers and sellers, we simplify property
                transactions, ensuring a smooth, hassle-free experience every
                step of the way. In Event Management, we craft and execute
                unforgettable events—from birthdays to corporate
                functions—ensuring seamless experiences. With a keen eye for
                creativity and detail, we deliver memorable occasions tailored
                to your unique vision!
                <br />
              </ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" offset-lg="1" size-lg="10">
          <ion-card>
            <ion-card-header>
              <ion-card-title style="color: #ffffff">
                <b> Why Choose Us? </b>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-text>
                Choose "The Bilva Group" for our unmatched expertise in Realty
                Solutions and Event Management. Our tech-driven approach ensures
                efficiency and transparency in every transaction. We prioritize
                quality and value, delivering tailored solutions that meet your
                unique needs. With a focus on creativity and attention to
                detail, we transform your vision into reality, making every
                experience seamless and memorable. Partner with us for
                exceptional service and results that exceed your expectations!
              </ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" offset-lg="1" size-lg="10">
          <ion-card>
            <ion-card-header>
              <ion-card-title style="color: #ffffff"
                ><b> Core Values </b></ion-card-title
              >
            </ion-card-header>
            <ion-card-content>
              <ion-text> Trust, Transparency, Team Work </ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" offset-lg="1" size-lg="10">
          <ion-card>
            <ion-card-header>
              <ion-card-title style="color: #ffffff"
                ><b>Vision</b></ion-card-title
              >
            </ion-card-header>
            <ion-card-content>
              <ion-text>
                To be the most trusted tech-enabled company in real estate
                solutions and event management.
              </ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" offset-lg="1" size-lg="10">
          <ion-card>
            <ion-card-header>
              <ion-card-title style="color: #ffffff"
                ><b>Mission</b></ion-card-title
              >
            </ion-card-header>
            <ion-card-content>
              <ion-text>
                To revolutionise real estate and event management landscapes
                with innovative technology and outstanding service, adding value
                for every stakeholder in the process while building lasting
                relationships and crafting extraordinary experiences that
                inspire and unite communities.
              </ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>
